<div class="footer-distribution">
    <div class="container">
        <div class="footer-distribution__container">
            <div class="footer-distribution__left">
                <h4 class="footer-distribution__title">Будьте в курсе</h4>
                <p class="footer-distribution__text">
                    Самые выгодные предложения и акции в еженедельной рассылке
                </p>
            </div>
            <form class="footer-distribution__form">
                <input
                    class="footer-distribution__input"
                    placeholder="Ваш E-mail"
                />
                <button class="footer-distribution__btn btn">
                    <svg width="24" height="24" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 4.5L10 14.5" stroke="#10B6AA" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20 4.5L13.7 22.5L10.1 14.4L2 10.8L20 4.5Z" stroke="#10B6AA" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
