<div class="promo-tour card-style" v-animation:bottom.delay>
	<p class="promo-tour__title">
		Оплачивайте от 10 000 ₽ сейчас, остальное — потом
	</p>
	<p class="promo-tour__text">
		Бронируйте тур заранее — платите только 10000₽ от стоимости. Услуга предоставляется бесплатно
	</p>
	{% include "@components/ui-components/link-arrow/template.twig" with {
		text: 'Подробнее',
		link: ''
	} %}
</div>
